@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inconsolata:wght@600&family=Vujahday+Script&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
  padding:0;
}

:root {
  font-size: 10px;
}

body {
  background-image: url(../img/wallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-family: 'Special Elite', "Vujahday Script", cursive;
  font-size: 16rem;
  color: rgb(71, 38, 5);
  text-align: center;
  padding-top: 70px;
}

.navContainer {
  display: flex;
  flex-direction: row;
  /*border: 3px solid black;*/
  justify-content: center;
  margin: 10px 0;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 5px;
}

.navTextContainer {
  font-family: 'Special Elite', "Vujahday Script", cursive;
  font-size: 4rem;
  font-weight: bolder;
  color: rgb(71, 38, 5);
  text-align: center;
  padding: 0;
  width: fit-content;
  height: 50px;
  margin: 0 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.navTextContainer:hover {
  color: #ffdd99;
}

.testText {
  background-color: #ccb68b;
  width: 880px;
  margin: 30px auto;
  font-family: 'Special Elite', monospace;
  font-size: 2.5rem;
  line-height: 3rem;
  color: rgb(71, 38, 5);
  text-align: justify;
  padding: 30px;
  border-radius: 25px;
}
.testText p a:hover {
  text-decoration: underline;
}

.photoFlex {
  display: flex;
  justify-content: center;
}
.alexPhoto {
  width: 60%;
  border-radius: 8px;
}
footer {
  color: #ffdd99;
  font-family: 'Special Elite', monospace;
}
@media screen and (max-width: 480px) {
  body {
    width: 100%;
  }
  header {
    width: 100%;
  }
  header h1 {
    font-size: 7rem;
  }
  .navContainer {
    width: 100%;
  }
  .navTextContainer {
    font-size: 2.2rem;
    line-height: 3.5rem;
    height: 100%;
  }
  .testText {
    width: 100%;
    margin-top: -10px;
    font-size: 1.8rem;
    line-height: 2rem;
  }
  .alexPhoto {
    width: 90%;
  }
}

@media screen and (max-width: 720px) {
  h1 {
    font-size: 8rem;
  }
}


@media screen and (max-width: 960px) {
  .navTextContainer {
    font-size: 3rem;
  }
  .testText {
    width: 100%;
  }
  body {
    height: 100vh;
  }
  h1 {
    font-size: 10rem;
  }
  .navContainer {
    margin: 24px 0px;
  }
}